<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DiningPointMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into dining_point (name, address, contact_phone, operating_hours, status, image, grid_coverage, create_time, update_time, create_user, update_user)
        values (#{name}, #{address}, #{contactPhone}, #{operatingHours}, #{status}, #{image}, #{gridCoverage}, #{createTime}, #{updateTime}, #{createUser}, #{updateUser})
    </insert>

    <update id="update">
        update dining_point
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="address != null">address = #{address},</if>
            <if test="contactPhone != null">contact_phone = #{contactPhone},</if>
            <if test="operatingHours != null">operating_hours = #{operatingHours},</if>
            <if test="status != null">status = #{status},</if>
            <if test="image != null">image = #{image},</if>
            <if test="gridCoverage != null">grid_coverage = #{gridCoverage},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
        </set>
        where id = #{id}
    </update>

    <select id="pageQuery" resultType="com.sky.entity.DiningPoint">
        select * from dining_point
        <where>
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="list" resultType="com.sky.entity.DiningPoint">
        select * from dining_point
        <where>
            <if test="status != null">
                status = #{status}
            </if>
        </where>
        order by create_time desc, id desc
    </select>
</mapper>
