/* Variables */

// Base color
$mine:#2F8F83;
$loginBg: #D8EAE4;
$blue:#2892E5;
$green: #46A978;
$yellow:#D09A43;
$pink: #F56C6C;
$block:#000;
$gray-1: #223430;
$gray-2: #6B7D79;
$gray-3: #A2B1AE;
$gray-4: #D3DFDA;
$gray-5: #F2F7F5;
$gray-6: #E7F0EC;
$bgColor: #F7FBF9;
$white: #fff;

// Sidebar
$sideBarWidth: 190px;
$subMenuBg:#1E3430;
$subMenuHover:#26433E;
$subMenuActiveText:#f4f4f5;
$menuBg:#26423C;
$menuText:#C7D8D4;
$menuActiveText:#1F3D37; //Also see settings.sidebarTextTheme

// Login page
$lightGray: #080808;
$darkGray:#889aa4;
$loginCursorColor: #080808;

// The :export directive is the magic sauce for webpack
// https://mattferderer.com/use-sass-variables-in-typescript-and-javascript
:export {
  menuBg: $menuBg;
  menuText: $menuText;
  menuActiveText: $menuActiveText;
}

.avatar-uploader .el-upload{
  // border: dashed 2px #D8DDE3 !important;
  border-radius: 4px !important;
  background: #F7FBF9;
}
.avatar-uploader .avatar-uploader-icon{
  background: #F7FBF9;
}
.avatar-uploader .el-icon-plus:before{
  content: '上传图片' !important;
  font-size: 12px;
  color:#000;
}


// 弹框样式处理
.el-dialog{
  border-radius: 8px;
}
.el-dialog__header{
  background: #F4F8F6;
  border-radius: 8px 8px 0 0;
  border: none;
}
