/* Element Variables */

// Override Element UI variables

$--color-success: #4aa876;
$--color-danger: #ff4949;
$--color-info: #6f807c;
$--button-font-weight: 400;
$--border-color-light: #dbe5e1;
$--border-color-lighter: #e6efeb;
$--table-border:1px solid #dbe5e1;
$--color-primary:#2F8F83;
$--color-warning:#D09A43;
$--color-text-primary:#223430;
$--color-text-regular:#6B7D79;
$--color-text-placeholder:#A2B1AE;
$--border-color-base:#D3DFDA;
$--background-color-base:#F2F7F5;

// Icon font path, required
$--font-path: '~element-ui/lib/theme-chalk/fonts';

// Apply overrided variables in Element UI
@import '~element-ui/packages/theme-chalk/src/index';
